{{ define "content" }}
<section>
  <ul class="posts_listing">
    {{ $paginator := .Paginate (where .Pages.ByDate.Reverse "Section" "posts") 35 }}
    {{ template "_internal/pagination.html" . }}
    {{ range $paginator.Pages }}
    <li class="post_item">
      <a href="{{ .Permalink }}">
        <div class="row col-sm-12 post_content">
          <div class="d-none d-sm-block col-sm-3 date-time-title">
            <time>{{ .Date.Format "02 Jan 2006" }}</time>
          </div>
          <div class="col-sm-9 date-time-title post">
            {{ .Title }}
          </div>
        </div>
      </a>
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}